body {
  background-color: #4D0A00;
  color: #4D0A00;
}

h2 {
  font-family: 'Monserrat', arial, sans-serif;
  font-weight: 700;
}

#pizza-pic {
  width:40%;
  margin-top:-16em;
  margin-left: -3em;
}

#pizza-dash {
  width: 111%;
  margin-left: 20px;
  margin-top: 2em;
  border-top: 1em solid #7AF597;
}

.row1 {
  background-color: #4D0A00;
  height: 5em;
}

.row2 {
  background-color: #170808;
  height: 11em;
}

.row2 h1 {
  color: #FFFEFA;
  text-align: right;
  width: 90%;
  font-weight: 700;
  font-size: 4em;
}

#menu, #specials {
  margin-top: .5em;
  text-align: center;
  background-color: #4D0A00;
  color: #FFFEFA;
}

#menu:hover, #specials:hover {
  cursor: pointer;
  margin-top: .5em;
  text-align: center;
  background-color: #170808;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#specials-menu {
  padding-top: 3em;
  background-color: #FFFEFA;
  color: #170808;
  text-align: center;
}

#specials-menu hr {
  margin-left: -20em;
  margin-top: 1em;
  border-top: 1em solid #7AF597;
}

#specials-menu h3 {
  height: 2.5em;
  margin-bottom: -5px;
  padding-top: .5em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#specials-menu h3:hover {
  cursor: pointer;
  height: 2.5em;
  margin-bottom: -5px;
  background-color: #4D0A00;
  color: #FFFEFA;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#user-options {
  color: #FFFEFA;
  padding-top: 3em;
  text-align: center;
}

#user-options hr {
  width: 111%;
  margin-left: 20px;
  margin-top: 1em;
  border-top: 1em solid #170808;
}

.footer {
  position: absolute;
  height: 3em;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #170808;
  padding-left: 2em;
}

.footer p {
  color:#FFFEFA;
  padding-top: .75em;
}

.footer a {
  color:#FFFEFA;
}
