#user-options, #specials-menu, #reciept {
  display:none;
}



body {
  background-color: #4D0A00;
  color: #4D0A00;
}

.container {
  80%
}

h2 {
  font-family: 'Monserrat', arial, sans-serif;
  font-weight: 700;
}

#pizza-pic {
  width:40%;
  margin-top:-16em;
  margin-left: -3em;
}

#pizza-dash {
  margin-top: 2em;
  border-top: 1em solid #170808;
}

.row1 {
  background-color: #4D0A00;
  height: 5em;
}

.row2 {
  background-color: #170808;
  height: 11em;
}

.row2 h1 {
  color: #FFFEFA;
  text-align: right;
  width: 90%;
  font-weight: 700;
  font-size: 4em;
}

#menu, #specials {
  margin-top: .5em;
  text-align: center;
  background-color: #4D0A00;
  color: #FFFEFA;
}

#menu:hover, #specials:hover {
  cursor: pointer;
  margin-top: .5em;
  text-align: center;
  background-color: #170808;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#specials-menu {
  padding-top: 3em;
  background-color: #FFFEFA;
  color: #170808;
  text-align: center;
}

#specials-menu hr {
  margin-top: 1em;
  border-top: 1em solid #170808;
}

#specials-menu h3 {
  height: 2.5em;
  margin-bottom: -5px;
  padding-top: .5em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#specials-menu h3:hover {
  cursor: pointer;
  height: 2.5em;
  margin-bottom: -5px;
  background-color: #4D0A00;
  color: #FFFEFA;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#user-options {
  color: #FFFEFA;
  padding-top: 3em;
  text-align: center;
}

#user-options hr {
  margin-top: 1em;
  border-top: 1em solid #170808;
}

.btn {
  width:15em;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: #FFFEFA;
  text-align: center;
  color: #170808;
  border: none;
}

.btn:active {
  width:15em;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: #170808;
  border: none;
  text-align: center;
  color: #FFFEFA;
}

.size-options .btn {
  
}

.size-options .btn:hover {

}

/* I dont' have any more time to mess with this, but I can't get my buttons to work correctly because of pseudo-class focus. Can't figure out how to override it.

/*.btn:focus {
  outline: none;
}

.btn:active {
  outline: none;
  background-color: none;
}

.btn-default:active:focus {
  outline: none;
}*/

#order-btn {
  margin-top: 3em;
  background-color: #FFFEFA;
  border-radius: 1em;
  height: 3em;
}

.reciept {
  background-color: #FFFEFA;
  color: #170808;
}
